.profile{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
}
.dash > * {
  flex: 0 0 calc(33.33% - 8px); /* Adjust the width based on the number of items and gap */
  /* flex-basis: calc(33.33% - 8px); /* Alternatively, you can use flex-basis */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.dash{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  height:100vh;
flex-wrap: wrap;
padding:4;
  gap:2;
}
.chart{
  display: flex;
  flex-direction: column;

}
.custom-link {
  text-decoration: none; /* Remove underline */
  color: #fff; /* Change color to your desired color */
}
.errorMsg{
  color:#c62828;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
