.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.dash > * {
  flex: 0 0 calc(33.33% - 8px);
  box-sizing: border-box;
}
.dash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  padding: 4;
  gap: 2;
}
.chart {
  display: flex;
  flex-direction: column;
}
.custom-link {
  text-decoration: none;
  color: #fff;
}
.errorMsg {
  color: #c62828;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
